/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.header_header__JEOGM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #bd79bc;
}

.header_cordefundo__zpN4p {
    color:#db22c3;
    background-color: #981580;
}


.header_imagem__1h2sD {
    font-size: 1.5em;
    color: #db22c3;
    margin: 20px 0;
    text-align: center; 
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

.header_nome__HBApP {
    font-size: 1.5em;
    color: #db22c3;
    margin: 20px ;
    text-align: center;
}


.header_button___a37a {
    background-color: #db22c3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px ;
}
